* {
    --background-color: white;
    --border-color: lightgrey;
    --main-color: rgb(95, 12, 118);
    --primary-accent-color: purple;
    --secondary-accent-color: rgb(203, 75, 178);

    --text-color: black;
    --text-hover-color: grey;
    --text-accent-color: white;

}

body {
    overflow-y: hidden;
}

.navbar {
    background-color: var(--main-color);
}

.nav {
    background-color: var(--main-color);
}

#main-side-nav {
    float: left;
    height: 100vh;
    width: 75px;
    color: var(--text-accent-color);
    /* --bs-nav-pills-border-radius: ; */
    --bs-nav-link-color: var(--text-accent-color);
    --bs-nav-link-hover-color: var(--text-hover-color);
    /* --bs-nav-link-disabled-color: ; */
    --bs-nav-pills-link-active-color: var(--text-accent-color);
    --bs-nav-pills-link-active-bg: var(--primary-accent-color);
}

.nav-item {
    padding: 5px;
}

.nav-icon {
    font-size: 32px;
}

#dreams-list {
    width: 400px;
    height: 100vh;
    padding: 0 20px;
    border-right: solid 2px var(--border-color);
    overflow-y: scroll;
}

#dreams-top {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    padding: 10px 0;
    z-index: 99;
}

#day-list {
    margin: 10px 0;
}