/**************************** GENERAL STYLING *********************************/

body {
    overflow: hidden;
}

p {
    text-align: justify;
    hyphens: auto;
}

/******************************** MINDMAP *************************************/

.mindmap-element {
    position: absolute;
    top:100px;
    left: 40px;
}
.mindmap-container {
    height: 100vh;
    width: 100vw;
}

.mindmap-element {
    border: none;
    border-radius: 10px;
    padding:10px;
    max-width: 250px;
    background-color: rgb(203, 75, 178, 0.2);
    color: #5a305a;
}

.selection-dot {
    cursor: move;
    position: absolute; /* Position the dot relative to the main div */
 
    /* transform: translateX(-50%); Adjust horizontal centering for specific width */
    width: 10px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    border-radius: 50%; /* Make it a circle */
    background-color: rgba(122, 2, 122, 0.5);;
}

.top{
    top: -5px; /* Place it at the top */
    left: 47%; /* Center it horizontally */
}
.right{
    top: 45px; /* Place it at the top */
    right: -4%; /* Center it horizontally */
}
.bottom{
    bottom: -5px; /* Place it at the top */
    left: 47%; /* Center it horizontally */
}
.left{
    top:45px;
    left: -4%;
}

.header-container{
    display:flex;
    justify-content: space-between;

}

.close-button{
    margin-left: auto;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-radius: 100px;
    margin-left: 10px;
}



#dreams-list .list-group-item {
    user-select: all;
    color: #b15eb2;
}


